<!DOCTYPE html>
<meta charset="utf-8">
  <title>NOXE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="180" >
  <link rel="stylesheet" href="../bootstrap-3.3.7/dist/css/bootstrap.min.css"> 
  <script src="../jquery.min.js"></script>
  <script src="../bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
  
  <style>
  body {
    
    font-size: 12px Arial; 
  
  }

  path { 
      stroke: steelblue;
      stroke-width: 5;
      fill: none;
  }

  .axis path,
  .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
  }

  </style>

<body>
<link rel= "stylesheet" href="/style.css">

<!--<script src="../d3/d3.v4.0.0-alpha.9.min.js"></script>-->
<script src="../d3v3/d3.min.js"></script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-size:30px">N O X E</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Process List
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/hourly/DAMAGE">DAMAGE</a></li>
                <li><a href="/hourly/POLY">POLY</a></li>
                <li><a href="/hourly/BSGDEP">BSGDEP</a></li>
                <li><a href="/hourly/NTM">NTM</a></li>
                <li><a href="/hourly/NOXE">NOXE</a></li>
                <li><a href="/hourly/NDEP">NDEP</a></li>
                <li><a href="/hourly/PTM">PTM</a></li>
                <li><a href="/hourly/TOXE">TOXE</a></li>
                <li><a href="/hourly/CLEANTEX">CLEANTEX</a></li>
                <li><a href="/hourly/PDRIVE">PDRIVE</a></li>
                <li><a href="/hourly/ARC_BARC">OLT</a></li>
                <li><a href="/hourly/PBA">PBA</a></li>
                <li><a href="/hourly/LCM">LCM</a></li>
                <li><a href="/hourly/SEED">SEED</a></li>
                <li><a href="/hourly/FGA">FGA</a></li>
                <li><a href="/hourly/PLM">PLM</a></li>
                <li><a href="/hourly/EDG_CTR">EDGE COAT</a></li>
                <li><a href="/hourly/PLATING">PLATING</a></li>
                <li><a href="/hourly/ETCHBK">ETCHBACK</a></li>
                <li><a href="/hourly/HST">HST</a></li>
                <li><a href="/hourly/TEST">TEST</a></li>
              </ul>
          </li>
      </ul>
  </div>
</nav>

<div class="columnPanel">
  <div class="col-md-4"> 
      <div class="target-title section">
          <div class="sectionHeader"><h3>Target<h3></div>
          <div class="sectionContentTarget"><%= data.ggTarget %></div>
          <div class="sectionFooter" id ="targetDate"></div>
      </div>
  </div>
    
  <div class="col-md-4">
      <div class="target-title section">
          <div class="sectionHeader"><h3>Actual Outs<h3></div>
          <div class="sectionContentOut"><%= data.ggOuts %></div>
          <div class="sectionFooter" id ="outsDate"></div>
      </div>
  </div>
    
  <div class="col-md-4">
    <div class="target-title section">
          <div class="sectionHeader"><h3>Variance<h3></div>
          <div class="sectionContentVar"><%= data.variance %></div>
          <div class="sectionFooter" id ="varDate"></div>
      </div>
  </div>
</div>

  <div class="col-md-12">
        <div class=" sectionChart section" id="svgGG">
        
        <div class="scrapLabelDiv">Scrap DPPM</div>
        <div class="hourlyLabelDiv">Hourly Outs</div>
        <script type ='text/javascript' src="/noxe.js"></script>
        
      </div>
      
    </div>
  </div>

<script>
    $(".sectionContentVar:contains('+')").addClass("green");
    $(".sectionContentVar:contains('-')").addClass("red");
</script>

<script>
    var today =  new Date();
    var MS_PER_MINUTE = 60000;
    var DELAYmin = 10;
    var todayMinus10min = new Date(today - (DELAYmin * MS_PER_MINUTE));
    document.getElementById("targetDate").innerHTML = today.toDateString() + ' ' + todayMinus10min.toLocaleTimeString();  
    document.getElementById("outsDate").innerHTML = today.toDateString() + ' ' + todayMinus10min.toLocaleTimeString();
    document.getElementById("varDate").innerHTML = today.toDateString() + ' ' + todayMinus10min.toLocaleTimeString();  
</script>